<div class="row p-1 m-1">
    <div class="col-sm-12 align-self-center p-3 mb-2">
        <p class="h5">
            This site is to help me calculate my income tax easily. There are many other tools out there, but I
            always feel something is lacking. May be I will add other tax calculation options here later, but no
            promises.
        </p>
    </div>
    <div class="col-md-3 col-sm-12">
        <!-- ad -->
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-sm-12 align-self-center p-3 mb-2">
                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    {navigation}
                </div>
            </div>
            <div class="col-sm-12 align-self-center p-3 mb-2" id="contentArea">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <!-- ad -->
    </div>
</div>

<div class="p-3 alert alert-dark">
    No Copyright.
</div>